<div class="row">
    <div class="col-md-6 text-center">
        <h4>Forecast by city</h4>
        <form ng-submit="submit()">
            <div class="form-group">
                <input type="text" ng-model="city" class="form-controll">
            </div>
            <input  type="submit" 
                    href='#!/forecast' 
                    class="btn btn-primary"
                    value="Get Forecast">
        </form>
    </div>
</div>